.topic-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-title {
  font-size: 40px;
  margin: 0 0 1rem;
}

.topic-section {
  width: 100%;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

.topic-section-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topic-sub-heading {
  margin: 0 0 0.5rem;
}

.topic-coherence {
  margin: 1rem 0;
  font-size: 16px;
  font-style: italic;
}

.words-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.word-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.word-data {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.sentence-title {
  font-weight: 600;
}

.sentence-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sentence-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem;
}

.sentence-data {
  font-size: 20px;
  font-style: italic;
}

.weight-data {
  font-size: 20px;
  font-style: italic;
}

.sentenceweight-data {
  font-size: 20px;
}
